

.navbar {
    width: 100%;
    height: 8vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 20px;
    position: absolute;
    box-shadow: 0 20px 50px 3px rgb(47 47 47 / 11%);
    
}

.navbar img {
    width: 25px;
}

.navbar img:hover {
    cursor: pointer;
}

.menu {
    width: 200px;
    height: 400px;
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    position: absolute;
    right: 20px;
    top: 55px;
    border-radius: 10px;
    color: #252525;
    padding: 15px;
    /* border: 1px solid white; */
    box-shadow: 0 20px 50px 3px rgb(47 47 47 / 11%);

}

.menu p {
    font-weight: 100;
    color: #252525;
}

.divSelecao {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen {
    width: 100%;
    height: 100vh;
    /* background-image: url(../img/background5.jpg); */
    /* background: rgb(16,36,110); */
    /* background: linear-gradient(90deg, rgba(16,36,110,1) 11%, rgba(47,91,176,1) 50%, rgba(77,173,223,1) 91%); */
    /* background-repeat: no-repeat; */
    background-size: 100vw;
    /* background: rgb(40,40,40); */
    /* background: linear-gradient(90deg, rgba(40,40,40,1) 40%, rgba(55,55,55,1) 80%); */
    background-color: #F5F5F5;
    /* background-image: url(../img/SemTítulo-3.png); */
}

.background {
    /* background-color: rgba(0, 0, 0, 0.4); */
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.3); */
    display: flex;
    justify-content: space-between;
}

.divProfile {
    margin-left: 250px;
    display: flex;
    gap: 10px;
}

.funcoes {
    margin-top: 10px;
    border-top: 1px solid #252525;
}

.logout{
    margin-top: 140px;
    border-top: 1px solid #252525;
}

.funcoes p, .logout p{
    text-decoration: none;
    color: #252525;
    margin-top: 10px;
    width: 100%;
    height: 30px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    font-weight: 200;
}

.funcoes p:hover, .logout p:hover{
    text-decoration: none;
    color: black;
    margin-top: 10px;
    background-color: white;
    width: 100%;
    height: 30px;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    text-shadow:0 20px 50px 3px rgb(47 47 47 / 11%);
}

a {
    text-decoration: none;
}

.bandeirao {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.bandeirao2 {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 20px 50px 3px rgb(47 47 47 / 9%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.bandeirao img {
    width: 200px;
    box-shadow: 0 20px 50px 3px rgb(47 47 47 / 11%);
    border-radius: 3px;
}

.tabela {
    height: 100%;
    width: 100%;
    /* background-color: wheat; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px 20px 20px;
}

.tabela1 {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 20px 50px 3px rgb(47 47 47 / 9%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.tabela2 {
    width: 400px;
    height: 240px;
    background-color: white;
    box-shadow: 0 20px 50px 3px rgb(47 47 47 / 11%);
    border-radius: 3px;
    padding: 10px;
}

.topo {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(218, 218, 218);
}

.grupo {
    font-size: 15px;
    font-weight: 400;
}

.parametro {
    display: flex;
    justify-content: space-around;
    width: 50%;
    height: 100%;
    font-size: 10px;
    /* align-items: center; */
    font-weight: 100;
    text-align: center;
    margin-top: 3px;
}

.corpo {
    width: 100%;
    height: 100%;
}

.line {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(218, 218, 218);
    align-items: center;
}

.lineBody {
    display: flex;
    justify-content: left;
    text-align: left;
    width: 50%;
    height: 100%;
    text-align: left;
}

#number {
    width: 2vw;
    height: 100%;
    border-right: 2px solid rgb(218, 218, 218);
    margin-right: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    font-weight: 500;
}

#imgLine {
    width: 25px;
    height: 25px;
    border-radius: 50px;
}

#tabelaSel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 500;
}

.lineCount {
    display: flex;
    justify-content: space-around;
    width: 50%;
    height: 100%;
    font-size: 10px;
    align-items: center;
    font-weight: 100;
}

.jogos {
    height: 100%;
    width: 100%;
    /* background-color: white; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    box-shadow: 0 20px 50px 3px rgb(47 47 47 / 9%);
}

.jogos2 {
    width: 38vw;
    height: 60vh;
    background-color: transparent;
    box-shadow: 0 20px 50px 3px rgb(47 47 47 / 11%);
    border-radius: 3px;
    padding: 10px;
    overflow: auto;
    overflow-x: hidden;
}

.jogos2::-webkit-scrollbar {
    width: 3px;
    height: 5px;
}

.jogos2::-webkit-scrollbar-track {
    background-color: black;
}

.jogos2::-webkit-scrollbar-thumb {
    background-color: #fff;
}

.jogos3 {
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 0 20px 50px 3px rgb(47 47 47 / 11%);
    border-radius: 3px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
}

.jogos3-hora{
    text-align: left;
    width: 6vw;
}

.jogos3-hora p{
    font-weight: 600;
    font-size: 12px;
    margin-left: 10px;
}

.jogos3-selecao {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    text-align: center;
    width: 30vw;
    height: 100%;
    /* margin: auto; */
    /* margin: 0px 15px 0 15px; */
}

.jogos3-selecaoImg {
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.jogos3-selecao p {
    font-weight: 600;
    font-size: 12px;
    width: 100%;
    /* margin-left: 10px; */
}

.p1 {
    text-align: right;
}

.p2 {
    text-align: left;
}

.jogos3-selecao span p {
    font-size: 9px;
    text-align: center;
    color: gray;
    margin-left: 0px;
}

.jogos3-selecao img {
    width: 25px;
    height: 25px;
    border-radius: 50px;
}

.jogos3-dia {
    font-size: 11px;
    text-align: right;
    margin-right: 10px;
    width: 12vw;
}

.jogos3-dia p {
    font-weight: 600;
}

.jogos3-dia span p{
    font-weight:200;
}

.divIdolo p {
    width: 20vw;
    height: 100%;
    font-size: 20px;
    font-weight: 300;
    color: #252525;
}

.backgroundBox1 {
    display: flex;
    flex-direction: column;
    margin-top: 8vh;
    height: 92vh;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

.backgroundBox2 {
    display: flex;
    flex-direction: column;
    margin-top: 8vh;
    height: 92vh;
    justify-content: center;
    align-items: center;
    width: 50vw;
    padding: 20px;
}
