header img {
    width: 8vw;
    text-shadow: 0 20px 30px rgba(0, 0, 0, 0.05);
}

header img:hover {
    cursor: pointer;
    opacity: 0.7;
}

a:hover {
    opacity: 0.7;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background-color: rgba(F, F, F, 0.6);
    height: 8vh;
    backdrop-filter: blur(8px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.05);
    /* position: fixed; */
    top: 0;
    padding: 0px 2rem 0 2rem;

}

.block {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20vw;
}

/* .block h1{
    letter-spacing: 2px;
    margin-left: 32px;
} */

.mobileMenu {
    display: none;
    cursor: pointer;
}

.mobileMenu div {
    width: 22px;
    height: 2px;
    border-radius: 10px;
    background-color: black;
    margin: 6px;
    /* border: 0.1px solid #FFFFFF; */
    transition: .3s;
}

@media screen {
    body {
        overflow-x: hidden;
    }
    
    .navList {
        position: absolute;
        top: 0px;
        right: 0;
        width: 30vw;
        height: 100vh;
        background-color: #000000;
        opacity: 0.8;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translate(100%, 0);
        transition: transform 0.3s ease-in;
        padding: 200px;
        
    }
    
    .navList a {
        position: relative;
        z-index: 1;
        margin-left: 5vw;
        margin-bottom: 50px;
    }
    
    .mobileMenu {
        display: block;
        z-index: 1;
    }

    .mobileMenu.menu2 div {
        width: 22px;
        height: 2px;
        background: #FFFFFF;
        margin: 6px;
        transition: .3s;
        position: relative;
    }
}

.navList.ativo {
    transform: translateX(0);
    backdrop-filter: blur(2px);
}

.mobileMenu.menu2 .line1{
    background: transparent;
    transform: rotate(-135deg);
}

.mobileMenu.menu2 .line2 {
    transform: rotate(135deg);
}

.mobileMenu.menu2 .line3 {
    transform: rotate(-135deg);
    top: -8px;
}

h1, a {
    color: #FFFFFF;
    text-decoration: none;
    list-style: none;
}

.boxBar {
    background-color: transparent;
    width: 50px;
    height: 2vh;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #000;
}

.bar {
    width: 4vw;
    height: 2vh;
    background-color: white;
    transform: translate(-110%);
    overflow: hidden;
}

.boxBar .bar{
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
 }
 
a:hover .bar{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
 }

a {
    display: flex;
    align-items: center;
    gap: 10px;
}

h1 {
    font-size: 1rem;
    text-align: left;

}