
.container{
    display: flex;
    gap: 8px;
    padding: 8px;
    width: 100%;
    height: 100vh;
}

.background {
    width: 37.5rem;
    height: 100%;
    background-image: url(../assets/img/login/screen-neymar.jpg);
    background-size: cover;
    border-radius: 8px;
    background-position: center;
    transition: background-image .8s ease-in;
}

.box1, .box2 {
    width: 100%;
    height: 100%;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formulario {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.divInput, .button {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
}

.forgotPassword {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
}

.forgot {
    display: flex;
    align-items: center;
    gap: 8px;
}

.titleDescription {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.titleDescription h1 {
    font-size: 24px;
    font-weight: 500;
    color: #2C3333;
}

.titleDescription p {
    font-size: 14px;
    color: #A7A7A7;
}

.divInput label, .divInputNome label {
    color: #2C3333;
    font-weight: 300;
    font-size: 12px;
}

.divInput input, .divInputNome input {
    height: 50px;
    border: none;
    background-color: #F5F5F5;
    color: #8E8E8E;
    padding: 8px;
    border-radius: 4px;
    outline: 0;
}

.divInput input:focus, .divInputNome input:focus {
    border: solid 1px #353a3a6e;
}

.forgotPassword .forgot label {
    font-size: 12px;
    font-weight: 300;
    color: #2C3333;
}

.forgotPassword p {
    font-size: 12px;
    font-weight: 500;
    color: #2C3333;
}

.buttonFe {
    height: 40px;
    border: none;
    background-color: #2666CF;
    color: #F1F1F1;
    font-size: 12px;
    font-weight: 600;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
}

.buttonFe:hover {
    opacity: 0.85;
}

.divInputNome label {
    color: #2C3333;
    font-weight: 300;
    font-size: 12px;
}

.divInputNome input {
    height: 50px;
    border: none;
    background-color: #F5F5F5;
    color: #8E8E8E;
    padding: 8px;
    border-radius: 4px;
    outline: 0;
    width: 100%;
}

.divInputNome {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 8px;
}

a {
    color: purple;
}

.back img {
    width: 50px;
    position: absolute;
    display: flex;
    justify-content: left;
}

.back {
    display: flex;
    justify-content: space-between;
}

.back a {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
}

.back a img {
    width: 40px;
    transition: .1s ease-in;
}

.back a img:hover {
    width: 45px;
    transform: translate(-5%, -5%);
}

.dot1, .dot2, .dot3{
    height: 25px;
    width: 25px;
    background-color: #F5F5F5;
    border-radius: 50%;
    display: inline-block;
    border: 0.1px solid black;
}

.circle {
    top: 2vw;
    position: fixed;
}

.dot1 {
    background-color: #E6Be36;
}

.dot2 {
    background-color: #5D9E5c;
}

.divSelecao {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.divSelecao .divImg{
    width: 50px;
    height: 30px;
    padding: 1px;
    text-align: center;
    margin: auto;
}

.divSelecao img {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}


.divInput label{
    color: #2C3333;
    font-weight: 300;
    font-size: 12px;
}

#selSelecao, #selIdolo{
    height: 50px;
    border: none;
    background-color: #F5F5F5;
    color: #8E8E8E;
    padding: 8px;
    border-radius: 4px;
    outline: 0;
    width: 100%;
}

#selSelecao:focus, #selIdolo:focus {
    border: solid 1px #353a3a6e;
    color: black;
}