
.container{
    display: flex;
    gap: 8px;
    padding: 8px;
    width: 100%;
    height: 100vh;
}

.background {
    width: 37.5rem;
    height: 100%;
    background-image: url(../assets/img/login/screen-neymar.jpg);
    background-size: cover;
    border-radius: 8px;
    background-position: center;
    transition: background-image .8s ease-in;
}

.box1, .box2 {
    width: 100%;
    height: 100%;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formulario {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.div_input, .button {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
}

.forgot-password {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
}

.forgot {
    display: flex;
    align-items: center;
    gap: 8px;
}

.title-description {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.title-description h1 {
    font-size: 24px;
    font-weight: 500;
    color: #2C3333;
}

.title-description p {
    font-size: 14px;
    color: #A7A7A7;
}

.div_input label, .div_inputNome label {
    color: #2C3333;
    font-weight: 300;
    font-size: 12px;
}

.div_input input, .div_inputNome input {
    height: 50px;
    border: none;
    background-color: #F5F5F5;
    color: #8E8E8E;
    padding: 8px;
    border-radius: 4px;
    outline: 0;
}

.div_input input:focus, .div_inputNome input:focus {
    border: solid 1px #353a3a6e;
}

.forgot-password .forgot label {
    font-size: 12px;
    font-weight: 300;
    color: #2C3333;
}

.forgot-password p {
    font-size: 12px;
    font-weight: 500;
    color: #2C3333;
}

.button-fe {
    height: 40px;
    border: none;
    background-color: #2666CF;
    color: #F1F1F1;
    font-size: 12px;
    font-weight: 600;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
}

.button-fe:hover {
    opacity: 0.85;
}

.div_inputNome label {
    color: #2C3333;
    font-weight: 300;
    font-size: 12px;
}

.div_inputNome input {
    height: 50px;
    border: none;
    background-color: #F5F5F5;
    color: #8E8E8E;
    padding: 8px;
    border-radius: 4px;
    outline: 0;
    width: 100%;
}

.div_inputNome {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 8px;
}

a {
    color: purple;
}

.back img {
    width: 50px;
    position: absolute;
    display: flex;
    justify-content: left;
}

.back {
    display: flex;
    justify-content: space-between;
}

.back a {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
}

.back a img {
    width: 40px;
    transition: .1s ease-in;
}

.back a img:hover {
    width: 45px;
    transform: translate(-5%, -5%);
}

.dot1, .dot2, .dot3{
    height: 25px;
    width: 25px;
    background-color: #F5F5F5;
    border-radius: 50%;
    display: inline-block;
    border: 0.1px solid black;
}

.circle {
    top: 2vw;
    position: fixed;
}

.dot1 {
    background-color: #E6Be36;
}

.dot2 {
    background-color: #5D9E5c;
}

.div_selecao {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.div_selecao .div_img{
    width: 50px;
    height: 30px;
    padding: 1px;
    text-align: center;
    margin: auto;
}

.div_selecao img {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}


.div_input label{
    color: #2C3333;
    font-weight: 300;
    font-size: 12px;
}

#selSelecao, #selIdolo{
    height: 50px;
    border: none;
    background-color: #F5F5F5;
    color: #8E8E8E;
    padding: 8px;
    border-radius: 4px;
    outline: 0;
    width: 100%;
}

#selSelecao:focus, #selIdolo:focus {
    border: solid 1px #353a3a6e;
    color: black;
}