
.container2{
    background-color: #f1f1f1;
    width: 100%;
    height: 92vh;
    /* margin-top: 10vh; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #252525;
}

.container3{
    background-color: #f1f1f1;
    width: 100%;
    height: 100vh;
    /* margin-top: 10vh; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid black; */
    border-top: 1px solid #252525;
}


.background {
    background-image: url(../assets/img/especial/rony-background.jpg);
    height: 110vh;
    width: 100%;
    background-position: center;
    background-size: 100vw;
    background-position: bottom;
    display: flex;
    align-items: center;
    padding: 100px;
    background-repeat: no-repeat;
}

.background1 {
    background-color: #252525;
    background-position: center;
    background-size: 100vw;
    border: 4px solid #252525;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.text2 {
    height: 100%;
}

h2 {
    color: #252525;
    font-size: 30px;
}

.sobre {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 4rem;
    padding-bottom: 10px;
    width: 50vw;
    height: 100%;
}

.img {
    width: 50vw;
    height: 100%;
    background-image: url(../assets/img/especial/background-2.png);
    background-size: cover;
    background-position: center;
    /* transition: background-image .8s ease-in; */
}

.img2 {
    width: 50vw;
    height: 100%;
    background-image: url(../assets/img/especial/background-cr7.png);
    background-size: cover;
    background-position: center;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    
}

.text h1 {
    color: #252525;
    font-size: 15px;
}

.bar2 {
    width: 30px;
    height: 4px;
    border-radius: 10px;
    background-color: #252525;
}


.text2 h1 {
    color: #252525;
    font-size: 50px;
}

.text2-2 h1 {
    font-size: 20px;
    margin-left: 60px;
    margin-top: 40px;
}

.text2-2 p {
    margin-top: 10px;
    margin-left: 60px;
}


.screen2 {
    width: 100%;
    height: 100vh;
    background-color: #f1f1f1;
}


.container4 {
    background-color: #f1f1f1;
    width: 100%;
    height: 100vh;
    /* margin-top: 10vh; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid #252525; */
}

.container4 .sobre {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 4rem;
    padding-bottom: 10px;
    width: 40vw;
    height: 100%;
}

.valores {
    width: 60vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-image: url(../assets/img/especial/ezgif.com-gif-maker.gif);
    background-repeat: no-repeat;
}

.val1 {
    width: 25vw;
    height: 50vh;
    border-radius: 30px;
    background-color: hsla(0, 0%, 100%, 0.8);
    box-shadow: 0 20px 50px 3px rgb(47 47 47 / 11%);
    padding: 50px;
    color: #252525;
}

.val2 {
    width: 25vw;
    height: 50vh;
    border-radius: 30px;
    background-color: hsla(0, 0%, 100%, 0.8);
    box-shadow: 0 20px 50px 3px rgb(47 47 47 / 11%);
    padding: 50px;
    color: #252525;
}

.valores h1{
    color: #252525;
    font-size: 20px;
    font-weight: 400;
}

.valores p {
    color: #252525;
    font-size: 15px;
    font-weight: 100;
}

.divIdolo p {
    width: 20vw;
    height: 100%;
    font-size: 20px;
    font-weight: 300;
}

.diego {
    width: 100vw;
    height: 100vh;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.backgroundEstadio {
    width: 30vw;
    height: 100%;
    background-image: url(../assets/img/background/estadio.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.textoEu {
    width: 70vw;
    height: 100%;
}