body {
    box-sizing: border-box;
}


.home {
    background-color: #f1f1f1;
    height: 92vh;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.conteudo {
    height: 90vh;
    width: 70vw;
    background-color: #f1f1f1;
    padding: 20px;
    color: #252525;
}

.home img {
    margin-left: 20vw;
}

.brazil {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/img/background/FIFA-world-cup-Russia-2018-wallpaper-20_4d470f76dc99e18ad75087b1b8410ea9.jpg);
    /* background-color: #f1f1f1; */
    background-size: cover;
}

.blackBar {
    height: 100%;
    width: 30vw;
    background-color: #252525;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-image: url(../assets/img/background/76d1cd82038505.5f35e0f044375.jpg);
    /* color: white; */
}

.blackBar .container2 {
    border-radius: 10px;
    background-color: rgba(25, 25, 25, 0.9);
    color: white;
    /* backdrop-filter: blur(2px); */
    
}

.divLine {
    width: 52px;
    height: 4px;
    background-color: #f1f1f1;
    padding: 1px;
    /* z-index: 5; */
}


.container2{
    background-color: #f1f1f1;
    width: 100%;
    height: 100%;
    /* margin-top: 10vh; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text2 {
    height: 100%;
}

h2 {
    color: #252525;
    font-size: 30px;
}


.sobre {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 4rem;
    padding-bottom: 10px;
    width: 50vw;
    height: 100%;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    
}

.text h1 {
    color: #252525;
    font-size: 15px;
}

.bar2 {
    width: 30px;
    height: 4px;
    border-radius: 10px;
    background-color: #252525;

}


.text2 h1 {
    color: #252525;
    font-size: 50px;
    font-weight: 500;
}

.text2-2 h1 {
    font-size: 20px;
    margin-left: 60px;
    margin-top: 40px;
}

.text2-2 p {
    margin-top: 10px;
    margin-left: 60px;
    font-weight: 100;
}


.imgJogador {
    position: absolute;
    /* bottom: -2rem; */
    top: 90px;
    left: 20rem;
    animation: neymar 4s infinite;

}

@keyframes neymar {

    0%{
        top: 80px;
    }

    50%{
        top: 90px;
    }

    100%{
        top: 80px;
    }

}

.blackBar .container2 h1{
    color: #f1f1f1;
}

.blackBar .container2 .bar2{
    border-radius: 10px;
    background-color: #f1f1f1;
    color: #f1f1f1;
}

.mascara {
    width: 100%;
    height: 100%;
    /* background-color: rgba(241, 241, 241, 0.9); */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* backdrop-filter: blur(8px); */
}

.mascara h1 {
    font-size: 50px;
    font-weight: 200;
    color: #252525;
}

.mascara p {
    color: #252525;
    font-weight: 100;
}

.vencedores {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.vencedores1 {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 30vw;
    height: 70vh;
    overflow: auto;
    border-radius: 5px;
    background-color: #f1f1f1;
    padding: 20px;
    text-align: left;
}

.vencedores1 h1 {
    font-size: 25px;
    margin-bottom: 15px;
    animation: h1text 4s infinite;
    font-weight: 500;
}

@keyframes h1text {

    0%{
        top: 80px;
    }

    50%{
        top: 90px;
    }

    100%{
        top: 80px;
    }

}

.vencedores1 a {
    color: #252525;
    /* color: #f1f1f1; */
}

.vencedores a:hover {
    transform: scale(105%);
    cursor: pointer;
    color: #2666CF;
}

.box {
    
    width: 45vw;
    height: 70vh;
    border-radius: 5px;
    transition: .3s ease-in;
    padding: 50px;
    color: #252525;
    background-color: #f1f1f1;
    box-shadow: 0 20px 50px 3px rgb(47 47 47 / 11%);
    /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2) */
    /* opacity: 0.8; */

}


.box h1, .box p {
    color: #252525;
    /* text-shadow: 0 20px 30px rgba(0, 0, 0, 0.5); */
    margin-top: 20px;
    
}



.imgExit {
    width: 30px;
    height: 30px;
    transition: .5s;
}

.imgExit:hover {
    transform: scale(110%);
    cursor: pointer;
}


.boxNull {
    /* background-image: url(../assets/img/especial/png-transparent-valencia-cf-football-team-sport-segunda-division-football-sport-team-computer-wallpaper-removebg-preview.png); */
    width: 45vw;
    height: 60vh;
}

.screen {
    width: 100%;
    height: 110vh;
    background-image: url(../assets/img/background/background.jpg);
}

.screen2 {
    width: 100%;
    height: 110vh;
    padding: 70px;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(241, 241, 241, 0.9);
}

.info {
    width: 30vw;
    height: 100%;
    color: #252525;
}

.info h1 {
    color: #252525;
    font-size: 50px;
}

.curiosidades {
    width: 70vw;
    height: 100%;
    display: flex;
    justify-content: end;
    padding: 10px;
    gap: 10px;

}

.info p {
    font-size: 60px;
    font-weight: 100;
}

.cur1 h1{
    color: #252525;
}


.cur1 {
    width: 35vw;
    height: 100%;
    overflow: auto;
    padding: 10px;
}

.cur1::-webkit-scrollbar {
    width: 3px;
    height: 5px;
}

.cur1::-webkit-scrollbar-track {
    background-color: #252525;
}

.cur1::-webkit-scrollbar-thumb {
    background-color: #f1f1f1;
}


.tabela {
    width: 250px;
    height: 35vh;
    background-color: hsla(0, 0%, 100%, 0.9);
    box-shadow: 0 20px 50px 3px rgb(25 25 25 / 11%);
    border-radius: 10px;
    margin-top: 15px;
    overflow: auto;
    padding: 10px;
    overflow-x: hidden;
}

.tabela::-webkit-scrollbar {
    width: 3px;
    height: 5px;
}

.tabela::-webkit-scrollbar-track {
    background-color: #252525;
}

.tabela::-webkit-scrollbar-thumb {
    background-color: #f1f1f1;
}

.jogo {
    margin-bottom: 10px;
    background-color: hsla(0, 0%, 100%, 0.9);
    box-shadow: 0 20px 50px 3px rgb(47 47 47 / 11%);
    width: 100%;
    height: 8vh;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.jogo p{
    color: #252525;
    font-size: 10px;
    margin: 0;
}

.selecao p {
    /* font-size: 10px; */
    margin: 0;
}

.hora p {
    margin: 0;
}


.dia, .selecao, .hora {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divIdolo p {
    width: 20vw;
    height: 100%;
    font-size: 20px;
    font-weight: 300;
}