* {
    padding: 0;
    margin: 0;
    color: #F1F1F1;
    font-family: sans-serif;
}

a {
    color: #F1F1F1;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 8vh;
}

main {
    background: url(../assets/img/background.jpg) no-repeat center center;
    background-size: cover;
    height: 92vh;
}

.navbar {
    list-style: none;
    display: flex;
}

.navbar li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.menu {
    display: none;
    cursor: pointer;
}

.menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}

@media (max-width: 100%) {
    body {
        overflow-x: hidden;
    }

    .navbar {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translate(100%);
    }

    .navbar li {
        margin-left: 0;
        opacity: 0;
    }
    
    .menu {
        display: block;
    }
}

.navbar.active {
    transform: translateX(0);
}

