

.home {
    background-color: #FFFFFF;
    background-size: cover;
    height: 105vh;
    margin-top: 10vh;
    padding: 20px;
}

.history {
    width: 100%;
    height: 105vh;
    /* background-color: #BBFD00; */
    background-image: url(../assets/img/background/background.jpg);
}


.brazil {
    width: 100%;
    height: 105vh;
    /* background-color: #FFFFFF; */
    background-image: url(../assets/img/background/a5a46682038505.5f35e0f043dc5.jpg);
}

